nav{
  text-align: center;
  margin: 20px 0;
}
a{
  color: var(--primary);
  font-weight: bold;
  border-bottom: 2px solid transparent;

}
.active{
  border-bottom: 2px solid white;
}
.back-button{
  position: absolute;
  left: 20px;
  z-index: 2;
}