#home {
  min-height: 100vh;
  background: rgb(26, 26, 26);
}
h1 {
  background: linear-gradient(to right, #5d8de6, #9708cc);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 90px;
  font-weight: bolder;
  transition: 0.1s;
  text-align: center;
}

@media screen and (max-width: 600px) {
  /* h1{
    margin-top: -150px;
    margin-bottom: 100px;
  } */
}
.home-main {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.h1-container {
  position: relative;
  margin-top: -100px;
}
.h1-bg {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-image: linear-gradient(-45deg, #9708cc 50%, #7d44d8 50%);
  filter: blur(80px);
  transform: translate(-50%, -50%);
}
.desc {
  color: var(--secondary-text-color);
  height: 50px;
}
.start-btn {
  display: flex;
  gap: 40px;
}
.start-btn button {
  line-height: 20px;
  border-radius: 8px;
}
#logo {
  position: absolute;
  left: 20px;
  top: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.public-rooms {
  width: 80%;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin: 0 auto;
}
.room-item {
  background: #2f2f2f;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.room-name {
  margin: 10px 0;
}
.room-desc {
  color: var(--secondary-text-color);
  word-break: break-all;
  flex: 1;
}
.room-footer {
  margin-top: 10px;
  text-align: right;
}

.room-info {
  position: absolute;
  right: 10px;
  top: 10px;
}
