#home{
  height: 100vh;
  background: rgb(26,26,26);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1{
  background: linear-gradient(to right, #715ee2, #9708CC);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 90px;
  font-weight: bolder;
  margin-top: -80px;
  transition: .1s;
  text-align: center;
}

@media screen and (max-width: 600px) {
  h1{
    margin-top: -150px;
    margin-bottom: 100px;
  }
}

.desc{
  color: var(--secondary-text-color);
  height: 50px;
}
.start-btn{
  display: flex;
  gap: 40px;
  
}
.start-btn button{
  line-height: 20px;
  border-radius: 8px;
}
#logo{
  position: absolute;
  left: 20px;
  top: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: .3s;
}
