.container{
  padding: 50px 30px 100px 30px;
  box-sizing: border-box;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
  width: 60%;
  box-sizing: border-box;
}
.item{
  display: flex;
  flex-direction: column;
}