.drawer {
  border-radius: 10px 0 0 10px;
  border-left: 1px solid rgba(128, 128, 128, 0.2);
  height: 100%;
  z-index: 999;

  // 侧边栏
  .slide-wrapper {
    transition: 0.3s;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
    height: 100%;
    overflow: hidden;

    .slide-header {
      display: flex;
      height: 50px;
      align-items: center;
      button {
        height: 40px;
        width: 40px;
        box-sizing: border-box;
        margin-left: 5px;
      }
    }
    .slide-body {
      width: 200%;
      display: flex;
      transition: 0.3s;
      flex: 1;
      /* height如果不设置会撑开，设置以后就会固定撑满剩下区域 */
      height: 0;

      .all-video-wrapper {
        height: 100%;
        flex: 1;
        box-sizing: border-box;
        overflow-y: auto;
        .video-wrapper {
          position: relative;
          width: 95%;
          flex-basis: 130px;
          max-height: 150px;
          margin: 0 auto;
          border-radius: 5px;
          display: flex;
          align-items: center;
          .video-item {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            cursor: pointer;
          }
          .mask {
            position: absolute;
            right: 5px;
            bottom: 5px;
            font-size: 10px;
            // background-color: #00000099;
            z-index: 10;
            max-width: 150px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            transform: scale(0.9);
          }
          .video-mask {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1.5);
          }
        }
        .my-video-wrapper {
          min-height: 130px;
          margin-bottom: 5px;
        }
        .other-video {
          padding-top: 4px;
          box-sizing: border-box;
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
      }
      .all-chat-wrapper {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        .message-wrapper {
          flex: 1;
          padding: 0 10px;
          margin: 0;
          overflow: auto;
          transition: 0.3s;
          scroll-behavior: smooth;
          &::-webkit-scrollbar {
            width: 4px;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            background: rgba(255, 254, 254, 0.2);
          }

          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            border-radius: 0;
            background: rgba(0, 0, 0, 0.1);
          }
          .message-item {
            margin: 10px 0;
            list-style: none;
            .message-header {
              color: rgb(115, 115, 239);
              display: flex;
              gap: 10px;
              align-items: center;
              font-size: 14px;
            }
            .message-content {
              font-size: 14px;
              line-height: 1.3em;
              font-family: "幼圆";
              margin: 3px 0;
              word-break: break-all;
            }
            .file-message {
              margin-top: 5px;
              cursor: pointer;
              padding: 2px 5px;
              border-radius: 5px;
              display: flex;
              align-items: center;
              font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
                sans-serif;
              .file-icon {
                flex-basis: 50px;
                aspect-ratio: 1;
                align-items: center;
                svg {
                  width: 80%;
                  height: 100%;
                }
              }
              .file-info {
                width: 0;
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 5px;
                .file-name {
                  overflow: hidden; /*超出部分隐藏*/
                  white-space: nowrap; /*不换行*/
                  text-overflow: ellipsis; /*超出部分文字以...显示*/
                }
              }
            }
          }
        }

        .input-wrapper {
          position: relative;
          flex-basis: 150px;
          .input-text-field {
            height: 80%;
            textarea {
              // color: #eee;
            }
            textarea::-webkit-scrollbar {
              width: 4px;
            }
            textarea::-webkit-scrollbar-thumb {
              border-radius: 10px;
              box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
              background: rgba(255, 254, 254, 0.2);
            }
            textarea::-webkit-scrollbar-track {
              box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
              border-radius: 0;
              background: rgba(0, 0, 0, 0.1);
            }
          }
          .send-btn {
            position: absolute !important;
            bottom: 3px;
            right: 3px;
            z-index: 100;
          }
        }
      }
    }
  }

  // 展开按钮
  .open-slide-btn {
    transition: 0.3s;
    position: fixed;
    top: 3px;
    right: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .twinkle {
    animation: twinkle 0.6s ease-in-out infinite;
  }

  @keyframes twinkle {
    0% {
      opacity: 0.1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.1;
    }
  }
}
