#bottom {
  position: fixed;
  left: 50%;
  bottom: 10px;
  z-index: 99;
  transform: translateX(-50%);
}
.menu-btns {
  height: 40px;
}
.menu-btns button {
  background: #333333;
  margin: 0 5px;
}
.room-info {
  width: 100%;
  text-decoration: none;
  list-style: none;
  padding: 0;
  li {
    display: flex;
    padding: 3px;
    justify-content: space-between;
  }
}
