#bottom {
  position: absolute;
  left: 50%;
  bottom: 10px;
  z-index: 99;
  transform: translateX(-50%);
  width:100%;

}
.menu-btns {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu-btns button {
  // background: #333333;
  margin: 0 5px;
}
.room-info {
  width: 100%;
  text-decoration: none;
  list-style: none;
  padding: 0;
  li {
    display: flex;
    padding: 3px;
    justify-content: space-between;
  }
}
.mic-button::before {
  content: "";
  width: 5px;
  position: absolute;
  background: #f44336;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  height: var(--height);
  display: var(--display);
  transition: 0.1s;
}
