a{
  text-decoration: none;
}

:root{
  --text-color: #222;
  --secondary-text-color: #888;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

:root[theme="dark"]{
  --text-color: #eee;
}

body{
  background: rgb(26,26,26);
}

#root{
  height: 100vh;
}

body{
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 4px;    
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: rgba(255, 254, 254, 0.2);
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 0;
  background: rgba(0,0,0,0.1);
}