a{
  text-decoration: none;
}

:root{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  --background-color: #ffffff;
  --primary: #6e6ce9;
}

:root[theme="dark"]{
  --background-color: #1A1A1A;
}

body{
  margin: 0;
  padding: 0;
  background: var(--background-color);
}
#root{
  height: 100vh;
}


body::-webkit-scrollbar {
  width: 4px;    
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: rgba(255, 254, 254, 0.2);
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 0;
  background: rgba(0,0,0,0.1);
}

.gray{
  filter: grayscale(.95);
}


.beautify-scroll::-webkit-scrollbar {
  width: 4px;
}

.beautify-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}

.beautify-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}